* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    position: relative;
    width: 400px;
    height: 510px;
    background: rgba(164, 158, 158, 0.393);
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.formBox h2 {
    font-size: 2em;
    font-family: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap');
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
    }
    
    body {
      font-family: 'Roboto', sans-serif;
    }